In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("book.csv",encoding='latin-1')

In [3]:
data=data.iloc[:,1:4]

In [4]:
data

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [5]:
data=data.rename(columns={"User.ID": "userid","Book.Title":"title","Book.Rating":"rating"})

In [6]:
data.head()

   userid                                              title  rating
0  276726                                Classical Mythology       5
1  276729                                       Clara Callan       3
2  276729                               Decision in Normandy       6
3  276736  Flu: The Story of the Great Influenza Pandemic...       8
4  276737                             The Mummies of Urumchi       6

In [7]:
#number of unique users in the dataset
len(data.userid.unique())

2182

In [8]:
len(data.title.unique())

9659

In [9]:
data.drop_duplicates(subset ="userid", 
                     keep = False, inplace = True)

In [10]:
len(data.userid.unique())

1323

In [156]:
user_book_df = data.pivot(index='userid',
                                 columns = 'title',
                                 values = 'rating').reset_index(drop=True)

In [157]:
user_book_df.iloc[500:600,500:600]

title,Jurassic Park/Congo,Just Here Trying to Save a Few Lives : Tales of Life and Death from the ER,Just an Ordinary Day,Kaleidoscope Readings in Education,Katarina: A Novel,Kent Montana and the Really Ugly Thing from Mars,Kidnapped and Catriona (World Classics),Kids Say the Darndest Things,Killing Critics (Kathleen Mallory Novels (Paperback)),Killing Mister Watson,...,Mama Get The Hammer! There's A Fly On Papa's Head!,"Man She'Ll Marry (Cowboy Grooms Wanted!) (Romance, 3648)",Man of Bone,Man's Search For Meaning,Managing Technology and Innovation for Competitive Advantage,Manifold: Time (Manifold (Paperback)),March of Folly: From Troy to Vietnam,"Married In Haste (Intrigue , No 481)",Married for a Month,"Marry Me ... Again Montana Mavericks (Silhouette Special Edition, 1558)"
500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
user_book_df.index = data.userid.unique()
user_book_df

title,101 Bright Ideas: Esl Activities for All Ages,101 Dalmatians,11th Hour,"20,001 Names for Baby",2001 Spanish and English Idioms/2001 Modismos Espanoles E Ingleses: 2001 Modismos Espanoles E Ingleses,2061: Odyssey Three,4 Blondes,"40 Tons Of Trouble (Women Who Dare) (Harlequin Super Romance, No 726)",500 palabras nuevas para ti / 500 Words To Grow On,8 Steps to a Healthy Heart: The Complete Guide to Heart Disease Prevention and Recovery from Heart Attack and Bypass Surgery,...,YESTERDAY'S NEWS : YESTERDAY'S NEWS,Year's Best Fantasy and Horror: Sixteenth Edition,You Are Not a Stranger Here : Stories,You're the One,Yukon Ho!,Yuwipi: Vision and Experience in Oglala Ritual,Zen in the Art of Archery (Vintage Spiritual Classics),Zodiac: The Eco-Thriller,Zombies of the Gene Pool,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
276726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
#Impute those NaNs with 0 values
user_book_df.fillna(0, inplace=True)
user_book_df

title,101 Bright Ideas: Esl Activities for All Ages,101 Dalmatians,11th Hour,"20,001 Names for Baby",2001 Spanish and English Idioms/2001 Modismos Espanoles E Ingleses: 2001 Modismos Espanoles E Ingleses,2061: Odyssey Three,4 Blondes,"40 Tons Of Trouble (Women Who Dare) (Harlequin Super Romance, No 726)",500 palabras nuevas para ti / 500 Words To Grow On,8 Steps to a Healthy Heart: The Complete Guide to Heart Disease Prevention and Recovery from Heart Attack and Bypass Surgery,...,YESTERDAY'S NEWS : YESTERDAY'S NEWS,Year's Best Fantasy and Horror: Sixteenth Edition,You Are Not a Stranger Here : Stories,You're the One,Yukon Ho!,Yuwipi: Vision and Experience in Oglala Ritual,Zen in the Art of Archery (Vintage Spiritual Classics),Zodiac: The Eco-Thriller,Zombies of the Gene Pool,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
276726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276745,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [160]:
#IBCF
#Fetching ratings
Married_user_rating = user_book_df['Married In Haste (Intrigue , No 481)']

In [161]:
Married_user_rating

276726    0.0
276736    0.0
276737    0.0
276744    0.0
276745    0.0
         ...
162103    0.0
162107    0.0
162109    0.0
162113    0.0
162129    0.0
Name: Married In Haste (Intrigue , No 481), Length: 1323, dtype: float64

# Here,Finding books similar to "Married In Haste (Intrigue , No 481)" using corrwith function.

In [162]:
#Finding the correlation with different books
similar_to_Married = user_book_df.corrwith(Married_user_rating)

In [163]:
similar_to_Married.head(10)

title
101 Bright Ideas: Esl Activities for All Ages                                                                                  -0.000756
101 Dalmatians                                                                                                                 -0.000756
11th Hour                                                                                                                      -0.000756
20,001 Names for Baby                                                                                                          -0.000756
2001 Spanish and English Idioms/2001 Modismos Espanoles E Ingleses: 2001 Modismos Espanoles E Ingleses                         -0.000756
2061: Odyssey Three                                                                                                            -0.000756
4 Blondes                                                                                                                      -0.000756
40 Tons Of Trouble (Women Who Dare) (Harlequin Super Romance, No 726)                                                          -0.000756
500 palabras nuevas para ti / 500 Words To Grow On                                                                             -0.000756
8 Steps to a Healthy Heart: The Complete Guide to Heart Disease Prevention and Recovery from Heart Attack and Bypass Surgery   -0.000756
dtype: float64

In [164]:
corr_Married = pd.DataFrame(similar_to_Married, columns=['Correlation'])
corr_Married.dropna(inplace=True)
corr_Married.head()

                                                    Correlation
title
101 Bright Ideas: Esl Activities for All Ages         -0.000756
101 Dalmatians                                        -0.000756
11th Hour                                             -0.000756
20,001 Names for Baby                                 -0.000756
2001 Spanish and English Idioms/2001 Modismos E...    -0.000756

In [165]:
corr_Married[corr_Married['Correlation'] > -0.5].sort_values(by='Correlation', ascending=False).head(5)

                                      Correlation
title
Married In Haste (Intrigue , No 481)     1.000000
Familientreffen. ErzÃƒ?Ã‚Â¤hlungen.        -0.000756
My Antonia                              -0.000756
Looking For Laura                       -0.000756
The Big Bad Wolf: A Novel               -0.000756